:root {
	--round1: 0.8rem;
	--round2: 0.5rem;
}

body {
	background-color: #343a40;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.chat-container {
	display: flex;
	flex-direction: column;
	height: 90vh;
	max-width: 600px;
	margin: 0 auto;
	padding: 0;
	/* border: 2px solid #444; */
	overflow: hidden;
	/* background-color: #7289da; */
}

.allMess {
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	flex: 20;
	border-radius: var(--round1) 0 0 0;
	padding: 1rem;
	overflow-y: scroll;
	background-color: #101010;
}

.chatInput {
	display: flex;
	padding: 0px;
	/* background-color: #000000; */
	flex: 1.2;
}

.chatInput input {
	padding: 1rem;
	border-radius: 0 0 0 var(--round2);
	margin: 0 -0.5rem 0 0;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(226, 226, 226, 0.87) 100%
	);
}

#sendBtn {
	padding: 5px 10px;
	border: none;
	border-radius: 0 0 0.5rem 0;
	background-color: #7289da !important;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 20%,
		rgb(123, 200, 255) 150%
	);
}

.buble1 {
	width: max-content;
	background: rgb(255, 255, 255);
	background: radial-gradient(
		circle at 20% 60%,

		rgb(230, 255, 255) 0%,
		rgb(171, 255, 255) 100%
	);
	border-radius: 0.6rem 0 0.6rem 0;
	padding: 0.8rem;
	font-size: larger;
	margin-bottom: 1rem;
	margin-left: 0rem;
	margin-right: 1rem;
	max-width: 60%;
	font-size: 0.9rem;
}
